body{ margin:0; padding:0; background-color:#fff; height: 100px; }

#page{
width: 95%;
min-width: 800px;

margin: 0 auto;
padding : 0;
}

#header{
position:relative; 
width:100%;
height: 85px;
border: 2px solid #6c7059;
background-color: #6c7059;
} 

#header p{
position: relative;
float: right;
margin: 0;
padding: 0;
}

#header p a{
color: #000;
text-align: center;
text-decoration: none;

width: 90px;
height: 20px;

position:relative;
float: left;
display: block;

background-image: url(images/button.png);
}



#menu_line{
width: 100%;
height: 35px;
margin-top: 2px;
padding: 0;
position: relative;
float: center;
background-color: #6c7059;
border: 2px solid #6c7059;
border-bottom: 0;
}

#menu{
width: 760px;
height: 30px;
margin: 5px 0 0 0;
padding: 0;

position: relative;
float: center;
background-color: #6c7059;
}

#menu ul, #menu ul li{
margin: 0;
margin-right: 2px;
padding: 0;
display: inline;
}

#menu ul li{
position: relative;
float: left;
width: 150px;
}

#menu ul li ul{
position: absolute;
top: 26px;
left: 0px;
z-index: 1;
}

#menu a{
font-size: 20px;
color: #000;
text-align: center;
text-decoration: none;

width: 150px;
height: 25px;
position: relative;
float: left;
margin: 0;

border: 1px solid;
background-color: #a5a5a2;
display: block;
}

#menu ul li ul a{
border: 2px solid;
}

#menu a:hover{
background-color: #fff;
}

#content{
width: 100%;
margin-top: 2px; 
float: left; 
display:inline; 
position: relative; 

border: 2px solid #6c7059;
overflow: hidden;
overflow: auto;
}

#content p{
padding: 0 30px 0 24px;
}

#example{
border: 1px solid;
position: relative;
float: center;
width: 90%;
height: 100%;
}

#footer{
width: 100%;
height: 50px;
margin-top: 2px; 

position: relative;
float: left;

text-align:center;
background-color: #6c7059;
border: 2px solid #6c7059;
}

#footer p {
font:10px verdana, arial, helvetica, sans-serif;

}

#greytd{ background-color: #6c7059; }

#tdleft{ text-align: left; }

#tdright{ text-align: right; }

#tdcenter{ text-align: center; }

span.c1 {
display:none;
}

h1.c0 {
background: url(images/logo.png) no-repeat;
height:52px;
margin:0 0 0 30px;
padding: 0;
} 

h2 {
font:18px verdana, arial, helvetica, sans-serif;
color:#3E8282;font-weight:900;
padding: 0 0 0 30px;
margin:0;
}


#fr{
position: absolute;
min-width: 500px;
top: 20px;
left: 5%;
right: 5%;
background-color: #fff;
border:5px solid #55f;
border-radius: 30px/20px;

margin: auto;
padding: 10px;

display: none;
overflow: hidden;
overflow: auto;
z-index: 2;
}

#shadow{
width: 1000%;
height: 100%;
position: fixed;
top: 0;
background-color: #000;
opacity: 0.6;
display: none;
z-index: 2;
}
