html{ height: 425px; }
body{ margin:0; padding:0; background-color:#fff; height: 100% !important; }

#page{
width: 95%;
height: 100%;
margin: 0 auto;
padding : 0;
}

#header{
position:relative; 
width:100%;
height: 85px;
border: 2px solid #6c7059;
background-color: #6c7059;
} 

#header p{
position: relative;
float: right;
margin: 0;
padding: 0;
}

#header p a{
color: #000;
text-align: center;
text-decoration: none;
width: 90px;
height: 20px;
position:relative;
float: left;
display: block;
background-image: url(images/button.png);
}

#menu_line{
width: 100%;
height: 35px;
margin-top: 2px;
padding: 0;
position: relative;
float: center;
background-color: #6c7059;
border: 2px solid #6c7059;
border-bottom: 0;
}

#menu{
width: 760px;
height: 30px;
margin: 5px 0 0 0;
padding: 0;
position: relative;
float: center;
background-color: #6c7059;
}

#menu ul, #menu ul li{
margin: 0;
margin-right: 2px;
padding: 0;
display: inline;
}

#menu ul li{
position: relative;
float: left;
width: 150px;
}

#menu ul li ul{
position: absolute;
top: 27px;
left: -1px;
border-top: 0;
z-index: 1;
}

#menu a{
font-size: 20px;
color: #000;
text-align: center;
text-decoration: none;
width: 150px;
height: 25px;
position: relative;
float: left;
margin: 0;
border: 1px solid;
background-color: #a5a5a2;
display: block;
}

#menu ul li ul a{
border: 2px solid;
border-top: 0;
}

#menu a:hover{ background-color: #fff; }

#content{
width: 100%;
height: 100%;
margin-top: 2px; 
float: left; 
display:inline; 
position: relative; 
border: 2px solid #6c7059;
overflow-x: auto;
}

#content p{ padding: 0 30px 0 24px; }

#example{
border: 1px solid;
position: relative;
float: center;
width: 90%;
height: 100%;
}

#footer{
width: 100%;
height: 20px;
margin-top: 2px; 
position: relative;
float: left;
text-align:center;
background-color: #6c7059;
border: 2px solid #6c7059;
}

#footer p { font:10px verdana, arial, helvetica, sans-serif; }

.greytd{ background-color: #6c7059; }

.tdleft{ text-align: left; }

.tdright{ text-align: right; }

.tdcenter{ text-align: center; }

.date_picker{ display: inline; }


#fr{
position: absolute;
min-width: 500px;
top: 20px;
left: 5%;
right: 5%;
background-color: #fff;
border:5px solid #55f;
border-radius: 30px/20px;
margin: auto;
padding: 10px;
display: none;
overflow: hidden;
overflow: auto;
z-index: 2;
}

#closeimg{
position: absolute;
top: 10px;
right: 4%;
z-index: 2;
display: none;
}

#shadow{
width: 1000%;
height: 100%;
position: fixed;
top: 0;
background-color: #000;
opacity: 0.6;
display: none;
z-index: 2;
}

#fr1{
position: absolute;
background-color: #fff;
border:2px solid #55f;
border-radius: 10px/10px;
padding: 10px;
display: none;
z-index: 2;
}

#shadow1{
width: 1000%;
height: 100%;
position: fixed;
top: 0;
background-color: #000;
opacity: 0;
display: none;
z-index: 2;
}

#fr1 div{
max-height: 200px;
overflow: hidden;
overflow: auto;
}
